<div class="container">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>
                {{product.nom}}
            </mat-card-title>
            @if (product.artiste) {
                <mat-card-subtitle class="subtitle">{{product.artiste}}</mat-card-subtitle>
            }
            @if (product.real) {
                <mat-card-subtitle class="subtitle">{{product.real}}</mat-card-subtitle>
            }
        </mat-card-header>
        <hr>
        @if (!product.image) {
            <img src="../../../assets/2019-03-27.jpg" alt="image" class="cover" mat-card-image>
        }
        @if (product.image) {
            <img [src]="product.img" [alt]="product.nom" class="cover" mat-card-image>
        }
        @if (product.synopsis) {
          <mat-card-content>
            <p>{{product.synopsis}}</p>
          </mat-card-content>
        }
        <mat-card-actions>
            <button mat-button routerLink="/products" routerLinkActive="router-link-active" >Retour</button>
        </mat-card-actions>
    </mat-card>
</div>
