@for (user of users; track user; let isOdd = $odd) {
    <div>
        @if (isOdd) {
            <div class="container">
                <div class="background">
                    <div class="card-header">
                        {{ user.company.name }}
                    </div>
                    <div class="card">
                        <div class="name">
                            {{ user.name }}
                        </div>
                        <div class="info">
                            <p>Site : {{ user.website }}</p>
                            <p>Email : {{ user.email }}</p>
                            <p>Telephone : {{ user.phone }}</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
