<h1>First component</h1>
<app-first-component></app-first-component>

<h2>User</h2>
<app-user></app-user>

<h2>Alert component</h2>
<app-alert-button></app-alert-button>

<h2>Listes</h2>
<app-liste></app-liste>

<h2>Magie !</h2>
<app-magie></app-magie>

<h2>Liste Filtrée</h2>
<app-liste-filtre></app-liste-filtre>

<h2>Generic alert component</h2>
<app-generic-alert-button buttonTitle="Ping" alertMessage="Pong"></app-generic-alert-button>
<app-generic-alert-button buttonTitle="Hello" alertMessage="World !"></app-generic-alert-button>

<h2>Button menu</h2>
<app-button-menu></app-button-menu>

<h1>TP1</h1>
<app-affichage></app-affichage>

<h1>TP2</h1>
<app-time></app-time>

<h2>Liste de courses</h2>
<app-liste-courses></app-liste-courses>

<h2>Reactive Liste courses</h2>
<app-reactive-liste-courses></app-reactive-liste-courses>




<router-outlet />